h1 {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.5;
  color: #DB4C2C;
}

.legit-logo {
  width: 40px;
  height: 45px;
}

#root, .container {
  max-width: 800px;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavBar {
  padding: 0px;
  background-color: #eaebec;
  height: 50px;
  margin-bottom: 0;
}

.nav-links {
  list-style-type: none;
  display: inline;
  margin: 10px;
  line-height: 20px;
  color: black;
}

.sign-in-up {
  display: inline-block;
}

.image {
  background: #343434;
}

.food-pic {
  width: 60%;
  max-height: 500px;
  margin: 40px 0;
  border-radius: 2%;
}

.listing {
  border: 3px solid black;
  margin: 5px;
  padding: 5px;
  width: 345px;
  text-align: center;
  list-style: none;
}

.choices {
  margin: 0 100px;
  border-radius: 50%;
}

.list {
  padding: 0;
  margin: 0 auto;
  display: inline-block;
}

.welcome-text {
  opacity: 50%
}

.username {
  display: inline;
}

.buttons-container {
  margin: 5px;
}

.returned-images {
  height: 50px;
  width: 50px
}

.delete-listing {
  margin: 5px;
}

.addresses {
  display: inline-block;
  margin: 0 10%;
}

.container {
  margin: 0 auto;
}

#city-search {
  width: 50%;
  display: inline-block;
}

.loading {
  position: absolute;
  z-index: 1000;
  width: 800px;
  height: 100%;
  background: rgba(255, 255, 255, 1)
}

.content {
  position: relative;
}
