/* Landing Page Component */
h1 {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.5;
  color: black;
}

.legit-logo {
  width: 40px;
  height: 45px;
  transform: rotate(180deg);
}

#root, .container {
  height: 100vh;
  text-align: center;
  margin: 0 auto;
}

/*.App {
  background: url('https://cdn.pixabay.com/photo/2017/02/15/10/39/salad-2068220_960_720.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  text-align: center;
  height: 100vh;
}*/

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: black;
}

.App-intro {
  font-size: large;
}

.container {
  margin: 0 auto;
}

/* NavBar */
.NavBar {
  padding: 0px;
  background-color: #eaebec;
  height: 50px;
  margin-bottom: 0;
}

.nav-links, a {
  list-style-type: none;
  display: inline;
  margin: 10px;
  line-height: 20px;
  color: black;
  text-decoration: none;
  font-family: Arial;
  font-weight: bold;
  font-size: 15px;
}

/* Sign Up */
.sign-in-up {
  display: inline-block;
}

/* Food Content */
.image {
  background: #343434;
}

.food-pic {
  width: 60%;
  max-height: 500px;
  border-radius: 2%;
}

.listing {
  border: 3px solid black;
  margin: 5px;
  padding: 5px;
  width: 345px;
  text-align: center;
  list-style: none;
}

.choices {
  border-radius: 50%;
}

.list {
  padding: 0;
  margin: 0 auto;
  display: inline-block;
}

.welcome-text {
  opacity: 50%
}

.username {
  display: inline;
}

.buttons-container {
  margin: 5px;
}

.returned-images {
  height: 50px;
  width: 50px
}

.delete-listing {
  margin: 5px;
}

.addresses {
  display: inline-block;
  margin: 0 10%;
}

#city-search {
  width: 25%;
  display: inline-block;
}

.loading {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1)
}

.content {
  position: relative;
}

/* Tender Card */

.card-img-top {
  width: 100%;
  display: block;
}

.card {
  width: 30rem;
  border: 1px solid rgba(0,0,0,.125);
  margin: auto;
  border-radius: 2%;
}

.button-yes, .button-no {
  width: 50%;
  display: inline-block;
  margin: auto;
}

.button-yes {
  border-right: 1px solid rgba(0,0,0,.125);
}
